body {

background: #70e1f5;  
background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  
background: linear-gradient(to right, #ffd194, #70e1f5);
	
}
	
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 9999;
}

.navbar-title {
  float: left;
  font-size: 1.7em;
  margin-left: 10px;
  line-height: 70px;
  height: 70px;
}

ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

li a {
  display: block;
  padding: 0 10px;
  line-height: 70px;
  text-decoration: none;
  color: black;
  height: 70px;
  font-size: 1.2em;
}

li a:hover {
  background-color: #70e1f5;
  color: black;
}

.content {
  margin-top: 70px;
  padding: 20px;
}


